@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Roboto+Mono:wght@200;300;400&display=swap');

main {
    text-align: center;
}

table {
    font-weight: 200;
    width: 100%;
    max-height: 60vh;
    padding: 30px 0;
    background-color: rgb(10, 10, 10, .4);
    font-size: xx-large;
    border-collapse: collapse;
    overflow-y: scroll;
    color: rgb(212, 211, 211);
}

th {
    color: rgb(212, 211, 211);
    font-weight: 200;
}

thead {
    background-color: rgb(10, 10, 10);
}

#tableContainer {
    height: 60vh;
    overflow: auto;
    white-space: nowrap;
}

#scoreSearch {
    animation: textEnter 1.7s;
}

#searchBtn {
    animation: textEnter 1.5s;
}

/* input.stylish {
    margin: 0;
} */

@keyframes textEnter {
    0% {
        translate: 0 -1000px;
    }

    80% {
        translate: 0 5px;
    }

    100% {
        translate: 0 0px;
    }
}

@media (max-width:500px) {
    table {
        font-size: x-large;
    }
}