@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Roboto+Mono:wght@200;300;400&display=swap');

body {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

.h1-container {
    flex: 1;
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 10em;
    font-weight: 300;
    background: -webkit-linear-gradient(rgb(212, 211, 211), rgb(212, 211, 211));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

#inputSection {
    flex: 1;
    background: rgb(212, 211, 211);
}

h3 {
    font-size: 1em;
    font-family: 'Prompt', sans-serif; 
}

#btns {
    margin-top: 20px;
}

.exitTitle {
    animation: textExit 2.4s;
}

.exitFields {
    animation: textExit 2s;
}

@keyframes textExit {
    0% {
        translate: 0 0px;
    }

    20% {
        translate: 0 -60px;
    }

    100% {
        translate: 0 1000px;
    }
}

@media (max-width:500px) {
    h1 {
        font-size: 25vw;
        /* margin: 10vw; */
        /* margin-left: 5vw; */
    }
}

#username {
    margin-bottom: 15px;
}



