@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Source+Sans+Pro:wght@400&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #1f2833;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0;
}

main {
    flex: 1;
}

footer {
    flex: 0;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 25px;
    border: 2px solid white;
    filter: none;
}

input:focus {
    width: 410px;
    height: 45px;
    font-size: larger;
    border: 1px solid black;
    outline: none;
}

input.inputOffset {
    margin-left: 75px;
}

button.classic {
    width: fit-content;
    min-width: 100px;
    height: 40px;
    margin: 20px 10px;
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    border: solid #66fcf1 2px;
    background-color: #1f2833;
    cursor: pointer;
}

button.classic:hover {
    background-color: #66fcf1;
    color: white;
}

label {
    display: none;
}

a.bottomTag, a.bottomTag:visited {
    color: rgb(159, 5, 194);
    text-decoration: none;
}

a.bottomTag:active {
    color:white;
}

@media (max-width:500px) {
    input {
        width: 70vw;
    }

    input:focus {
        width: 71vw;
    }
}

@media (max-width:800px) {
    input.inputOffset {
        margin-left: 0;
    }    
}