@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Source+Sans+Pro:wght@400&display=swap');

main {
    display: flex;
    flex-direction: row;
}

#leftSide {
    flex: 1;
    text-align: center;
}

#rightSide {
    flex: 1;
    text-align: center;
}

#friendField {
    filter: blur(5px);
}

#stats {
    font-size: xx-large;
    animation: textEnter 1.7s;
}

#userView {
    animation: textEnter 1.5s;
}

#timer {
    text-align: left;
    margin-right: 200px;
}

#userPercent {
    text-align: right;
}

#yourUsername {
    animation: textEnter 1.8s;
}

#friendInfo {
    animation: textEnter 1.5s;
}

#friendView {
    animation: textEnter 1.7s;
}

#friendPercent {
    font-size: xx-large;
    animation: textEnter 1.7s;
}

.songContainer {
    height: 400px;
    width: 500px;
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    background-color: #3c3e45;
    border-radius: 20px;
    border: black solid 2px;
    text-align: start;
    overflow-y: auto;
    overflow-y: hidden;
}

#friendView {
    filter: blur(3px);
}

@media (max-width:600px) {
    .songContainer {
        width: 80vw;
        height: 40vh;
    }

    #leftSide {
        margin-left: 40px;
        max-height: 25vw;
        width: 80vw;
        text-align: center;
        border-bottom: solid white 1px;
    }

    #timer {
        margin-right: 30vw;
    }

    #friendUsername {
        display: inline;
        margin-right: 15px;
    }

    #friendPercent {
        display: inline;
    }
}

@media (max-width:354px) {
    #leftSide {
        max-height: 30vw;
    }
}

.word {
    display: inline-block;
    margin: 5px;
    padding: 3px 5px;
    background-color: #3c3e45;
    border-radius: 8px;
    border: solid 3px black;
    font-family: 'Source Sans Pro', sans-serif;
}

@keyframes textEnter {
    0% {
        translate: 1000px 0;
    }

    80% {
        translate: -20px 0;
    }

    100% {
        translate: 0px 0;
    }
}

@media (max-width:1000px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #friendView {
        display: none;
    }
}

