header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

#scoresBtn {
    text-align: left;
    margin: 5px;
    flex: 0;
}

#songTitle {
    margin: 0 auto;
}

h2 {
    font-size: 7em;
    margin: 0.5em;
}

select {
    background-color: grey;
    width: 65px;
    font-size: large;
    border-radius: 25px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: white;
}

#songPage {
    flex: 1;
    display: flex;
    flex-direction: row;
}

@media (max-width:1000px) {
    #songPage {
        display: flex;
        flex-direction: column;
    }
}

#songSelection {
    flex: 1;
    /* text-align: center; */
}

#friendSelection {
    flex: 1;
    text-align: center;
}