@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Roboto+Mono:wght@200;300;400&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    color: rgb(10, 10, 10);
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(212, 211, 211);
    color: rgb(212, 211, 211);
    display: flex;
    flex-direction: column;
}

header {
    flex: 0;
}

main {
    flex: 1;
}

footer {
    flex: 0;
    text-align: center;
    margin-bottom: 5px;
}

input.inputOffset {
    margin-left: 75px;
}

input.stylish {
    font-weight: 300;
    color: rgb(10, 10, 10);
    margin-top: 30px;
    background: 0;
    border: 0;
    border-radius: 0;
    outline: none;
    width: 80vw;
    max-width: 300px;
    font-size: 1.5em;
    text-align: center;
    transition: padding 0.3s 0.2s ease;
}
  

button.classic {
    font-weight: 300;
    width: fit-content;
    min-width: 100px;
    height: 40px;
    margin: 20px 10px;
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: large;
    border-radius: 8px;
    border: solid rgb(10, 10, 10) 1px;
    background-color: transparent;
    cursor: pointer;
}

button.classic:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(212, 211, 211);
}

label {
    display: none;
}

a.bottomTag, a.bottomTag:visited {
    color: rgb(159, 5, 194);
    text-decoration: none;
}

a.bottomTag:active {
    color:white;
}

#githubLogo {
    width: 25px;
    height: 25px;
}

@media (max-width:500px) {
    input {
        width: 70vw;
    }

    input:focus {
        width: 71vw;
    }
}

@media (max-width:800px) {
    input.inputOffset {
        margin-left: 0;
    }    
}