@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Roboto+Mono:wght@200;300;400&display=swap');

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    background:rgb(10, 10, 10);
    color: rgb(212, 211, 211);
    margin: 0;
}

#scoresBtn {
    text-align: left;
    margin: 5px;
    flex: 0;
}

h2 {
    font-weight: 300;
    text-align: center;
    color: rgb(212, 211, 211);
    font-family: 'Roboto Mono', monospace;
    font-size: 5em;
    margin: 0.5em;

    animation: textEnter 2.2s;
}

select {
    background-color: grey;
    width: 65px;
    font-size: large;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

#songPage {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: rgb(10, 10, 10);

    animation: textEnter 1.9s;
}

.enterLeft {
    flex: 1;
    text-align: center;

    animation: textEnter 2s;
}

.enterRight {
    flex: 1;
    text-align: center;

    animation: textEnter 2.1s;
}

#percentSelect {
    width: 50px;
    text-align: center;
}

#displaySongTitle {
    font-size: 2em;
}

.inputTitle {
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 3vw;
    margin: 0.5em;
    font-weight: 300;
    color: rgb(10, 10, 10);
    margin-top: 30px;
    background: 0;
    border: 0;
    border-radius: 0;
    outline: none;
    animation: textEnter 2.2s;
}

.readyToPlay {
    margin-right: 18px;
    color: grey;
}

input.stylish {
    font-weight: 300;
    color: rgb(212, 211, 211);
    margin-top: 30px;
    background: 0;
    border: 0;
    border-radius: 0;
    outline: none;
    width: 80vw;
    max-width: 300px;
    font-size: 1.5em;
    text-align: center;
    transition: padding 0.3s 0.2s ease;
}

button.classic {
    font-weight: 300;
    width: fit-content;
    min-width: 100px;
    height: 40px;
    margin: 20px 10px;
    color: rgb(212, 211, 211);
    text-align: center;
    font-size: large;
    border-radius: 8px;
    border: solid rgb(212, 211, 211) 1px;
    background-color: transparent;
    cursor: pointer;
}

button.classic:hover {
    background-color: rgb(212, 211, 211);
    color: rgb(10, 10, 10);
}

#byYourself {
    color: rgb(212, 211, 211);
}

@keyframes textExit {
    0% {
        translate: 0 0px;
    }

    20% {
        translate: 0 -60px;
    }

    100% {
        translate: 0 1000px;
    }
}

@keyframes textEnter {
    0% {
        translate: 0 -1000px;
    }

    80% {
        translate: 0 20px;
    }

    100% {
        translate: 0 0px;
    }
}

@media (max-width:1000px) {
    #songPage {
        display: block;
        width: 100%;
    }

    .inputTitle {
        font-size: 8vw;
    }
}

@media (max-width:800px) {
    h2 {
        font-size: 3em;
    } 

    .enterLeft {
        text-align: center;
        animation: textEnter 2.1s;
    }

    .enterRight {
        animation: textEnter 2s;
    }

    #percentSelect {
        margin-top: 0;
        display: block;
        margin-left: calc(50vw - 30px);
    }

    #friendUsername {
        width: 90vw;
    }

}

.exitTitle {
    animation: textExit 2.8s;
}

.exitLeft {
    animation: textExit 2.4s;
}

.exitRight {
    animation: textExit 2s;
}
