@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Roboto+Mono:wght@200;300;400&display=swap');

.body {
    background: rgb(212, 211, 211);
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#scoresBtn {
    text-align: left;
    margin: 5px;
    flex: 0;
}

select {
    background-color: grey;
    width: 65px;
    font-size: large;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

#topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#songPage {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: rgb(10, 10, 10);
}

.enterPage {
    animation: textEnter 1.9s;
}

.enterLeft {
    flex: 1;
    text-align: center;

    animation: textEnter 2s;
}

.enterRight {
    flex: 1;
    text-align: center;

    animation: textEnter 2.1s;
}

.enterSmallTitle {
    animation: textEnter 2.3s;
}

#percentSelect {
    margin-right: 0;
    text-align: center;
}

#displaySongTitle {
    font-size: 2em;
}

.inputTitle {
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 3vw;
    margin: 0.5em;
    font-weight: 300;
    color: rgb(10, 10, 10);
    margin-top: 30px;
    background: 0;
    border: 0;
    border-radius: 0;
    outline: none;
    animation: textEnter 2.2s;
}

.smallTitle {
    margin-right: 1.5vw;
    color: grey;
}

@keyframes textExit {
    0% {
        translate: 0 0px;
    }

    20% {
        translate: 0 -60px;
    }

    100% {
        translate: 0 1000px;
    }
}

@keyframes textEnter {
    0% {
        translate: 0 -1000px;
    }

    80% {
        translate: 0 20px;
    }

    100% {
        translate: 0 0px;
    }
}

@media (max-width:1000px) {
    #songPage {
        display: block;
        width: 100%;
    }

    .inputTitle {
        font-size: 8vw;
    }
}

@media (max-width:800px) {
    .enterLeft {
        text-align: center;
        animation: textEnter 2.1s;
    }

    .enterRight {
        animation: textEnter 2s;
    }

    #percentSelect {
        margin-top: 0;
    }

    #friendUsername {
        width: 90vw;
    }

    input.stylish {
        margin-top: 10px;
    }

}

.exitTitle {
    animation: textExit 2.8s;
}

.exitLeft {
    animation: textExit 2.4s;
}

.exitRight {
    animation: textExit 2s;
}

.exitSmallTitle {
    animation: textExit 2.9s;
}
